@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}

.flex-content{
    flex: 1 0 auto;
}
